*{
    margin: 0;
    padding: 0;
}
.header,.nav,.footer,.main,.sidebar,.advertisement{
    background-color: bisque;
    border: 2px solid brown;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.header{
    text-align: center;
    grid-area: header;
}
.nav{
    grid-area: nav;
    /* justify-content: center;
    align-items: center; */
}
ul li{
    list-style: none;
}
li a{
    color: brown;
    font-weight: 800;
    text-decoration: none;
    text-transform: capitalize;
    /* gap: 40px; */
}
.footer{
    text-align: center;
    grid-area: footer;
}
.main{
    grid-area: main;
}
article{
    padding: 10px 20px 0px;
    margin-bottom: 20px;
}
.article-heading{
    margin-bottom: 5px;
}
.sidebar{
    grid-area: sidebar;
}
.advertisement{
    grid-area: advertisement;
}
.body{
    /* margin: 100px 50px; */
    /* border: 2px solid brown; */
    display: grid;
    grid-template-areas:
    "header header header header"
    "nav main main sidebar"
    "nav main main advertisement"
    "footer footer footer footer"
    ;
    gap: 10px;
    padding: 20px; 
}
h1{
    text-transform: capitalize;
}
/* responsive small*/
@media screen and (max-width:512px) {
    .body{
        grid-template-areas:
        "header"
        "nav "
        "sidebar"
        "advertisement"
        "main"
        "footer "
        ;  
    }
}
/* responsive medium*/
@media screen and (min-width:512px) and (max-width:992px) {
    .body{
        grid-template-areas:
        "header header header"
        "nav nav nav "
        "sidebar main main"
        "advertisement footer footer"
        ;  
    }
}