*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* text-align: center; */
}
/* header styling start */
.heading{
    color: #035c5c;
    background-color: bisque;
    font-size: 1.3em;
    font-style: italic;
    text-align: center;
    text-transform: capitalize;
    padding: 10px;
    /* box-shadow: 0px 0px 3px 3px brown; */
}
.nav{
    /* border: 2px solid brown; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    background-color: #deb8874d;
    box-shadow: 0px 0px 3px 3px #deb887;
}
li{
    list-style: none;
}
a{
    font-size: 1.5em;
    color: brown;
    font-weight: 300;
    margin-right: 20px;
    text-decoration: none;
}
a:hover{
    color: rgb(220, 122, 122);
}
/* header styling end */

/* menu styling start */
section{
    padding: 20px;
    margin: 80px 150px;
    border:2px solid #711111;
}
section img{
    width: 100%; /* output image width is section width */
}
.section-heading{
    padding: 20px;
    color: #035c5c;
    text-transform: uppercase;
    text-align: center;
    /* border:2px solid #711111; */
}
.img-row{
    height: 220px; /* each row takes this height */
    display: flex; /* to show in one row */
    gap: 10px; /* works as flex gap */
    margin: 10px 0px; /* for row gap */
}
.img-row>div{
    flex: 1; 
    /* each div takes the same width in the row */
}

.img-row img{
    width: 100%;
    height: 100%;
}
.img-vertical img{
    /* width: 50px; 
    display: flex;
    flex-direction: row; */
    height: 50%;
    /* height: calc((100%-10px)/2);  */
    /*not working */
    
}
.img-box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* flex: 1; */
    gap: 10px;
    /* width: 100%; */
    /* height: fit-content; */
}
.box-container{
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr); /* sets 4column */
    grid-template-rows: repeat(3,100px); /* sets 3rows */
    /* width: 500px; */   
}
.box{
    text-align: center;
    background-color: #035c5c;
    /* border-radius: 10px; */
}
#box-1{
     grid-row: span 5; /* spans 1 row to 3 row */  
}
#box-6,#box-7,#box-9,#box-10{
    background-color: #deb887;
}
#box-11,#box-12{
    grid-column: span 3; /*spans till 3 column*/
}
.grid-heading a{
    font-size: .9em;
    font-weight: 900;
    color: #035c5c;
}
/* menu styling end */
/* responsive medium screen */
@media screen and (max-width:768px) {
    section{
        margin: 30px;
    }
    .img-row{
        flex-direction: column;
        height: auto;
    }  
}
/* responsive for small devices */
@media screen and (max-width:512px){
    a{
        font-size: .9em;
        margin-right: 3px;
    }
    section{
        margin: 20px;
        border: 0;
    }
    .img-row{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .img-vertical{
        gap: 10px;
        display: flex;
        flex-direction: column-reverse;
    }
    .img-box{
        grid-template-columns: repeat(1,1fr);
    }
}
